# IDE
*.idea/
*.vscode/

# global tex
*gz
*toc
*out
*blg
*log
*aux
*bbl
*dvi

# algo
*__pycache__/
*ex2.pdf
/algo/*bak
/algo/ex2.pdf

# atelier
/atelier/latex/handons.pdf

# ca
/ca/Digital/
/ca/Mic1MMV/
/ca/Exercise12_2.pdf
/ca/morales_assign1.pdf

# pf
/pf/pf1/*swp
/pf/pf1/*~
/pf/pf1/*0.rkt
/pf/pacman-racket/
/pf/pf2/projects/

# math
/math/*2.pdf
/math/*3.pdf
/math/*4.pdf
